@page "/administration"
@using Microsoft.AspNetCore.Authorization

<AuthorizeView Roles="Administrator">
    <Authorized>
        <div class="container-xxl bg-white p-0">
            <div class="row g-2">
                <div class="col">
                    <h2 class="text-center">Administration</h2>
                </div>
            </div>
            <div class="row" style="margin-bottom: 20px;">
                <div>
                    <BarChart @ref="barChart" Width="800" Height="400"  />
                </div>
               <div class="row">
                    <div class="col-md-2">
                        <Button Type="ButtonType.Button" Color="ButtonColor.Primary" Size="Size.Medium" @onclick="async () => await RandomizeAsync()"> Randomize </Button>
                    </div>
                    <div class="col-md-2">
                        <Button Type="ButtonType.Button" Color="ButtonColor.Primary" Size="Size.Medium" @onclick="async () => await AddDatasetAsync()"> Add Dataset </Button>
                    </div>
                    <div class="col-md-2">
                        <Button Type="ButtonType.Button" Color="ButtonColor.Primary" Size="Size.Medium" @onclick="async () => await AddDataAsync()">Add Data</Button>
                    </div>
                    <div class="col-md-2">
                        <Button Type="ButtonType.Button" Color="ButtonColor.Primary" Size="Size.Medium" @onclick="async () => await ShowHorizontalBarChartAsync()">Horizontal Bar Chart</Button>
                    </div>
                    <div class="col-md-2">
                        <Button Type="ButtonType.Button" Color="ButtonColor.Primary" Size="Size.Medium" @onclick="async () => await ShowVerticalBarChartAsync()">Vertical Bar Chart</Button>
                    </div>
               </div>
            </div>
        </div>

    </Authorized>
    <NotAuthorized>
        <div class="container-xxl bg-white p-0">

            <div class="container-xxl py-5">
                <div class="row g-5 align-items-center">
                    <h1>Not authorize</h1>
                </div>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>



@code {

}
