@page "/why-should-i-buy"
<div class="container-xxl bg-white p-0">
    <div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
        <div class="container">
            <div class="row g-2">
                <div class="col-md-10" style="text-align: center; color:white">
                    <h3>Защо да купя имот с Adresimo?</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="bg-light rounded p-3">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img position-relative overflow-hidden p-5 pe-0">
                        <img class="img-fluid w-100" src="img/about.jpg">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h2>
                        Бързи огледи в удобно за вас време
                    </h2>
                    <p>
                        Консултантите на Adresimo работят с голям процент собствени и ексклузивни оферти, разполагат с ключ от имотите и това им позволява да предложат гъвкави и индивидуални решения. Във всички случаи огледите ще бъдат направени в удобно за вас време, ще бъдат съобразени с всички мерки за безопасност, които COVID-19 изисква, и ще ви бъде предоставена възможно най-изчерпателна информация за даденото жилище още на първия оглед.
                    </p>
                </div>
            </div>
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h2>
                        Достъп до голяма и разнообразна база данни с качествени имоти
                    </h2>
                    <p>
                        Adresimo е най-голямата агенция за недвижими имоти в България и разполага с повече имоти от всяка друга компания на пазара. Работим с широка партньорска мрежа и предлагаме над 20 000 оферти, всяка от които внимателно проверена от нашите консултанти.
                    </p>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img position-relative overflow-hidden p-5 pe-0">
                        <img class="img-fluid w-100" src="img/about.jpg">
                    </div>
                </div>
            </div>
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img position-relative overflow-hidden p-5 pe-0">
                        <img class="img-fluid w-100" src="img/about.jpg">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h2>
                        Професионална пазарна и юридическа консултация
                    </h2>
                    <p>
                        В Adresimo работи пълният набор от специалисти, които съпровождат целия процес по сключване на една сделка – от избора на подходящия имот до самото изповядване. Това позволява на клиентите ни да бъдат правилно ориентирани във всеки един момент и да получат най-ценните съвети.
                    </p>
                </div>
            </div>
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h2>
                        Професионализъм и Експертиза
                    </h2>
                    <p>
                        Ние от Adresimo предлагаме професионални услуги и експертни съвети относно пазара на недвижими имоти. Ние ще ви насочим към подходящи за вас имоти, които отговарят на вашите нужди и бюджет, и ще ви помогнем при преговорите и закупуването.
                    </p>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img position-relative overflow-hidden p-5 pe-0">
                        <img class="img-fluid w-100" src="img/about.jpg">
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    <div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;" id="1">
        <div class="container">
            <div class="row g-2">
                <div class="col-md-10" style="text-align: center; color:white">
                    <a href="/" style="color: white; text-decoration: none;">
                        
                        <h3>Намери имот с <span style="color: #00B98E">Adresimo</span> </h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <RealEstate.Web.Client.Components.Footer></RealEstate.Web.Client.Components.Footer>
</div>
<style>
    .info-page-item:first-of-type {
        margin-top: 100px;
    }

    .info-page-item {
        display: flex;
        background: #FFFFFF;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        margin-bottom: 60px;
    }

    .info-page-image {
        display: flex;
        align-self: flex-start;
        flex: 1 0 31.5%;
    }

    .info-page-content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 50px;
    }

    .c-secondary {
        color: #22205F;
    }

    .mb-20 {
        margin-bottom: 20px !important;
    }

    .fs-22 {
        font-size: 22px !important;
    }

    .info-page-content p:last-of-type {
        padding-bottom: 70px;
    }

    .info-page-content p {
        color: #333333;
    }

    .fs-16 {
        font-size: 16px !important;
    }
</style>
@code {

    }
