﻿<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="" style="cursor:pointer; text-decoration: none;text-transform: uppercase;" title="Намерете добър адвокат и запазете час за консултация онлайн!">Pravenportal</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <AuthorizeView Roles="Administrator">
        <nav class="flex-column">
            <div class="nav-item px-3">

                <NavLink class="nav-link" href="administration" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Администрация
                </NavLink>
                <NavLink class="nav-link" href="requests" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Заявки
                </NavLink>
                <NavLink class="nav-link" href="createuser" Match="NavLinkMatch.All">
                    <span class="fas fa-keyboard" style="width: 2rem;" aria-hidden="true"></span> Създай адвокат
                </NavLink>
                <NavLink class="nav-link" href="createlawfirm" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Създай кантора
                </NavLink>
                <NavLink class="nav-link" href="createnotary" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Създай нотариус
                </NavLink>
                <NavLink class="nav-link" href="alllawyers" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Адвокати
                </NavLink>
                <NavLink class="nav-link" href="alllawfirms" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Кантори
                </NavLink>
                <NavLink class="nav-link" href="allnotary" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Нотариуси
                </NavLink>
                <NavLink class="nav-link" href="allusers" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Потребители
                </NavLink>
                <NavLink class="nav-link" href="create-court" Match="NavLinkMatch.All">
                    <span class="fas fa-unlock" style="width: 2rem;" aria-hidden="true"></span> Създай съд
                </NavLink>
                <NavLink class="nav-link" href="/Identity/Account/Manage/ChangePassword" Match="NavLinkMatch.All">
                    <span class="fas fa-unlock" style="width: 2rem;" aria-hidden="true"></span> Промени паролата
                </NavLink>
            </div>
        </nav>
    </AuthorizeView>
    <AuthorizeView Roles="Lawyer">
        <nav class="flex-column">
            <div class="nav-item px-3">

                <NavLink class="nav-link" href="lawyer-profile" Match="NavLinkMatch.All">
                    <span class="fas fa-user" style="width: 2rem;" aria-hidden="true"></span> Профил
                </NavLink>
                <NavLink class="nav-link" href="scheduler" Match="NavLinkMatch.All">
                    <span class="fas fa-clipboard-list" style="width: 2rem;" aria-hidden="true"></span> Календар
                </NavLink>

                <NavLink class="nav-link" href="dashboard" Match="NavLinkMatch.All">
                    <span class="oi oi-document" aria-hidden="true"></span> Табло за управление
                </NavLink>
                <NavLink class="nav-link" href="appointments" Match="NavLinkMatch.All">
                    <span class="fas fa-handshake" style="width: 2rem;" aria-hidden="true"></span> Срещи
                </NavLink>
                <NavLink class="nav-link" href="help-desk" Match="NavLinkMatch.All">
                    <span class="fab fa-servicestack" style="width: 2rem;" aria-hidden="true"></span> Помощен център
                </NavLink>
                <NavLink class="nav-link" href="service" Match="NavLinkMatch.All">
                    <span class="fab fa-servicestack" style="width: 2rem;" aria-hidden="true"></span> Услуги
                </NavLink>
                <NavLink class="nav-link" href="/Identity/Account/Manage/ChangePassword" Match="NavLinkMatch.All">
                    <span class="fas fa-unlock" style="width: 2rem;" aria-hidden="true"></span> Промени паролата
                </NavLink>
            </div>
        </nav>
    </AuthorizeView>
    <AuthorizeView Roles="Moderator">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="edit-law-firm" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Кантора
                </NavLink>
            </div>
        </nav>
    </AuthorizeView>
    <AuthorizeView Roles="User">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="client" Match="NavLinkMatch.All">
                    <span class="fas fa-clipboard-list" style="width: 2rem;" aria-hidden="true"></span> Предстоящи срещи
                </NavLink>
                <NavLink class="nav-link" href="history" Match="NavLinkMatch.All">
                    <span class="fas fa-clipboard-list" style="width: 2rem;" aria-hidden="true"></span> Минали резервации
                </NavLink>
                <NavLink class="nav-link" href="/profile" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Профил
                </NavLink>
                <NavLink class="nav-link" href="/Identity/Account/Manage/ChangePassword" Match="NavLinkMatch.All">
                    <span class="fas fa-unlock" style="width: 2rem;" aria-hidden="true"></span> Промени паролата
                </NavLink>
            </div>

        </nav>
    </AuthorizeView>
    <AuthorizeView Roles="Notary">
        <nav class="flex-column">
            <div class="nav-item px-3">

                <NavLink class="nav-link" href="/notary-profile" Match="NavLinkMatch.All">
                    <span class="fas fa-user" style="width: 2rem;" aria-hidden="true"></span> Профил
                </NavLink>
                <NavLink class="nav-link" href="scheduler" Match="NavLinkMatch.All">
                    <span class="fas fa-clipboard-list" style="width: 2rem;" aria-hidden="true"></span> Календар
                </NavLink>
                <NavLink class="nav-link" href="notary-appointments" Match="NavLinkMatch.All">
                    <span class="fas fa-handshake" style="width: 2rem;" aria-hidden="true"></span> Клиенти
                </NavLink>
                <NavLink class="nav-link" href="/Identity/Account/Manage/ChangePassword" Match="NavLinkMatch.All">
                    <span class="fas fa-unlock" style="width: 2rem;" aria-hidden="true"></span> Промени паролата
                </NavLink>
            </div>

        </nav>
    </AuthorizeView>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}